:root {
    --skin-color-light: #fbe2d6;
    --skin-color-dark: #FACFCB;
    --blue-color-light: #c2fcf7;
    --blue-color-dark: #3A565D;
    --green-color-light: #6CFCC2;
    --green-color-dark: #388966;
    --yellow-color:#efa413;
    --yellow-color-light:#ffce6d;
    --black-color-dark:#525152;
    --black-color-light:#bebebe;

}
