/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */
@import url('../css/colors.css');


* {
    margin: 0px;
    padding: 0px;
}
.material-symbols-outlined:hover {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.568);
}
#a1,
#a2,
#a3,
#a4,
#a5,
#a6 {


    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 2.5rem;
   
}
#a1{
    animation: loading 2s infinite linear;
}
#a2{
    animation: loading 2.5s infinite linear;
}
#a3{
    animation: loading 3s infinite linear;

}
#a4{
    animation: loading 3.5s infinite linear;

}
#a5{
    animation: loading 4s infinite linear;
   
}
#a6{
    animation: loading 4.5s infinite linear;

}
.ball1 {
    border-radius: 50%;
    box-shadow: 0px 0px 10px aqua;
    width: 100%;
    height: 15%;
    background-color: aqua;
}

@keyframes loading{
    0%{
        rotate: 0deg;
    }
    30%{
        rotate: 100deg;
    }
    50%{
        rotate: 150deg;
    }
    80%{
        rotate: 270deg;
    }
    100%{
        rotate: 360deg;
    }
}
body{
    overflow: hidden;
}
.signin {
    position: absolute;
    width: 7vw;
    height: 4vh;
    left: 76%;
    top: 35%;
    display: grid;
    place-content: center;

}

.signin a {
    
    font-family: "Montserrat";font-size: .8rem;
    text-decoration: none;
    color: black;
}

.signin a:hover {
    color: green;
}

.other {
    position: absolute;
    width: 15vw;
    height: 6vh;
    left: 83%;
}

.other span {
    margin-left: 15%;
    margin-top: 3%;
    cursor: pointer;


}

#search:hover {
    color: rgb(80, 80, 255);
}

#heart:hover {
    color: red;
}

#bag:hover {
    color:brown;
}


.allcontant{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;


}
.section1,.section2{
    scroll-snap-type: center;
    
}
.section1{
    position: relative;
    width: 100vw;
    height: 80vh;
}
.banner {
    display: flex;
    position: absolute;
    top: 9%;
    width: 100vw;
    height: 70vh;
}

.mainbanner {
    overflow: hidden;
    margin-top: .5rem;
    width: 50%;
    height: 95%;
    background-color:var(--skin-color-light);
}
.mainbanner img{
    cursor: pointer;
    float: right;
    width: 45%;
    transition: .5s;
    margin-right: -1.5rem;

}
.mainbanner img:hover{

    margin-right: 0rem;
}
.textcontant{
    text-align: center;
    position: absolute;
    width: 25%;
    height: 60%;
    left: 3%;
    top: 10%;

}
.textcontant i{
font-size: 3rem;
}
.textcontant p{
font-size: .8rem;
}
.b_btn{
    position: absolute;
    width: 6rem;
    height: 2.5rem;
    transition: .2s;
    top: 60%;
    left: 10%;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}
.b_btn:hover{
    border: none;
    border-bottom: 3px solid rgb(255, 60, 0);
}
.subbanners {
    margin-top: .5rem;
    margin-left: .5rem;
    width: 54%;
    height: 95%;
}
.s_banner {
    /* border: 1px solid black; */
    display: inline-flex;
    width: 49%;
    height: 50%;
    overflow: hidden;
    background-color: var(--skin-color-light);
}

.s_banner img{
    cursor: pointer;
    margin-left:8rem ;
    transition: .5s;
}
.s_banner img:hover{
    margin-left: 3rem;

}
.texts {
    
    font-family: "Montserrat";
    text-align: center;
    top: 3%;
    position: absolute;
    width: 14rem;
    height: 12rem;
    transition: .3s;
}

.texts span {
    font-size: 3rem;
}

.texts p {

    font-style: italic;
}

.goto {
    position: relative;
    width: 5rem;
    height: 2rem;
    transition: .3s;
    left: -25%;
    top: 30%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(255, 60, 0);

    cursor: pointer;
}



.s_banner2 {
    /* border: 1px solid black; */
    display: inline-flex;
    width: 49%;
    height: 50%;
    background-color: var(--yellow-color-light);
    overflow: hidden;
}
.s_banner2 img{
    margin-left:8rem ;
    transition: .5s;
    cursor: pointer;
}
.s_banner2 img:hover{
    margin-left: 3rem;

}
.texts2 {
    
    font-family: "Montserrat";
    text-align: center;
    top: 3%;
    position: absolute;
    width: 14rem;
    height: 12rem;
    transition: .3s;
}

.texts2 span {
    font-size: 3rem;
}

.texts2 p {

    font-style: italic;
}

.goto2 {
    position: relative;
    width: 5rem;
    height: 2rem;
    transition: .3s;
    left: -25%;
    top: 30%;
    border: none;
    border-bottom: 3px solid rgb(255, 60, 0);
    background-color: transparent;
    cursor: pointer;
}

.s_banner3 {
    /* border: 1px solid black; */
    display: inline-flex;
    width: 49%;
    height: 50%;
    background-color:var(--blue-color-light);
    overflow: hidden;
}
.s_banner3 img{
    margin-left: 8rem;
    transition: .5s;
    cursor: pointer;
}
.s_banner3 img:hover{
    margin-left: 0rem;

}

.goto3 {
    position: relative;
    width: 5rem;
    height: 2rem;
    transition: .3s;
    left: -25%;
    top: 10%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(255, 60, 0);
    cursor: pointer;
}




.s_banner4 {
    /* border: 1px solid black; */
    display: inline-flex;
    width: 49%;
    height: 50%;
    background-color:var(--black-color-light);
    overflow: hidden;

}

.s_banner4 img{
    margin-left: 14.4rem;
    transition: .5s;
    cursor: pointer;
}
.s_banner4 img:hover{
    margin-left: 13rem;

}
.texts4,.texts3 {
    
    font-family: "Montserrat";
    text-align: center;
    top: 60%;
    position: absolute;
    width: 14rem;
    height: 12rem;
    transition: .3s;
}

.texts4 span,.texts3 span {
    font-size: 3rem;
}

.texts4 p,.texts3 p {

    font-style: italic;
}

.goto4 {
    position: relative;
    width: 5rem;
    height: 2rem;
    transition: .3s;
    left: -25%;
    top: 3%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(255, 60, 0);
    cursor: pointer;
}
.activated{
    border-bottom: 2px solid red;
}
.inputpop{
    position: fixed;
   z-index: 0;
    left: 80%;
    top: 9%;
    visibility: hidden;
    
}
.inputpop input{
    width: 12rem;
    height: 1.5rem;
}
#search__{
padding: .3rem;  
background-color: var(--blue-color-light); 
cursor: pointer; 

}
.drop_animation{
    animation: down .6s ;
}
@keyframes down{
    0%{
        top: 0%;
    }
    100%{
        top: 9%;
    }
}

.adds{
    margin-left: 10vw;
    width: 80vw;
    height: 40vh;
    background-color: black;
    padding: .5rem;
    /* overflow: hidden; */
    /* overflow-x: auto; */
    /* display:flex; */
    white-space: nowrap;    
    
}
.adds section{
    display: inline-block;
    width: 80vw;
    height: 40vh;
    border: 1px solid white;
}
.adds section img{
    width: 100%;
    /* height: 100%; */

}