@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


.section2 {
    margin-left: 15rem;
    display: grid;
    width: 60vw;
    height: 40vw;
}

.nav {
    font-family: "Montserrat";
    font-size: large;
    display: flex;
    font-size: 15px;
    font-weight: 1000;
    width: 100%;
    height: 3vh;
    font-size: .8rem;
}

.productNav {

    height: 8vh;
    width: 100%;
    top: 85%;
    display: grid;
    align-content: center;
}

.np {

    place-self: start;
    margin-right: 10rem;

}

.productNav span {
    font-size: 1.5rem;
    border-bottom: 2px solid red;

}

.productNav ul li {
    list-style: none;
    float: left;
    list-style: none;
    margin-left: 1.5rem;
}

.productNav ul li:hover {
    border-bottom: 2px solid red;
}

.productNav ul li a {
    text-decoration: none;
    color: black;
}

@keyframes hover {
    50% {
        border-width: 50%;
    }

    90% {
        border-width: 90%;
    }
}

.all_products {
    width: 100%;
    height: 25vw;
    margin-top: -15%;
    overflow-y: scroll;
    /* border: 1px solid; */
    background-color: rgb(255, 253, 253);
    scroll-behavior: smooth;

}

.item {
    float: left;
    margin: 1%;
    margin-left: 2%;
    width: 30%;
    height: 95%;
    background-color: white;
    background-color: rgba(10, 180, 180, 0.459);

    /* background-color: rgb(255, 112, 112); */


}
.productimage{
    cursor: pointer;
    border: 1px solid;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 70%;
transition: .5s;
background-color: rgba(255, 255, 255, 0.719);

}
.productimage:hover{
    width: 92%;
    height: 73%;
}
.alltexts{
    width: 90%;
    height: 20%;
    margin-left:5%;
}
.productname{
    width: 80%;
    height: 40%;
    display: grid;
    place-content: center;
    margin-left:10%;
    font-style:italic;
}
.rating{
    
    width: 60%;
    height: 20%;
    display: grid;
    place-content: center;
    /* background-color: green; */
    margin-left:20%;

}
.rating span {
width:100%;
font-size:smaller ;
color: yellow;

}

.price{
    text-shadow: 0px 0px 10px yellow;
    width: 70%;
    height: 35%;
    display: grid;
    place-content: center;
    margin-left:15%;
}
.starsetting{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}